{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    <style>
        .form-container {
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white; 
            width: 350px;
            height: auto;
            text-align: center;
        }
        .form-title {
            margin-bottom: 20px;
            font-size: 40px;
            color: purple; 
        }
       
        .form-container input[type="submit"],
        .form-container button[type="submit"] {
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s; 
        }
      
        .form-container input[type="submit"]:hover,
        .form-container button[type="submit"]:hover {
            transform: scale(1.1); 
        }
        
        .form-container input[type="submit"]:active,
        .form-container button[type="submit"]:active {
            transform: scale(0.9); 
        }
        
        .form-container label {
            display: inline-block;
            width: 100px; 
            text-align: right;
            margin-right: 10px;
        }

        .form-container input[type="text"], 
        .form-container input[type="email"] {
            border: none; 
            border-bottom: 2px solid purple; 
            background-color: transparent; 
            color: purple; 
            padding: 5px; 
            margin-bottom: 10px; 
            width: calc(100% - 10px); 
            font-size: 14px; 
            height: 30px; 
            margin-left:25px;
        }

        .form-container label {
            display: inline-block;
            width: 100px; 
            text-align: right;
            margin-right: 200px;
        }
    </style>
{% endblock %}

{% block body %}
    <body style="background-color: pink;"> 
        <div class="form-container" style="margin-top: 100px; height: 400px;">
            <div class="form-title">Welcome to Fitnesson</div> 
            {{ form_start(form) }}
            <div style="margin-bottom: 15px; margin-top: 50px;margin-right:50px">
                {{ form_row(form.username) }}
            </div>
            <div style="margin-bottom: 15px;margin-right:50px">
                {{ form_row(form.mail) }}
            </div>
            <div style="margin-top: 60px;">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </body>
{% endblock %}
