<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fitness App{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body style="background-color: pink;">   
    {% block body %}
        <h1>Exercises for Underweight</h1>
        <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
            {# Div pour la catégorie 'arm' #}
            <div>
                <h2>Arm Exercises</h2>
                {% for exercise in exercises1 %}
                    {% if exercise.category == 'arm' %}
                        <div style="margin-bottom: 20px;">
                            <a href="{{ path('exercise_sousshow', {'id': exercise.id}) }}">
                                <img src="{{ asset('SousPoids/' ~ exercise.image) }}" alt="{{ exercise.title }}" style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            <p>{{ exercise.title }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {# Div pour la catégorie 'leg' #}
            <div>
                <h2>Leg Exercises</h2>
                {% for exercise in exercises1 %}
                    {% if exercise.category == 'leg' %}
                        <div style="margin-bottom: 20px;">
                            <a href="{{ path('exercise_sousshow', {'id': exercise.id}) }}">
                                <img src="{{ asset('SousPoids/' ~ exercise.image) }}" alt="{{ exercise.title }}" style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            <p>{{ exercise.title }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {# Div pour la catégorie 'belly' #}
            <div>
                <h2>Belly Exercises</h2>
                {% for exercise in exercises1 %}
                    {% if exercise.category == 'belly' %}
                        <div style="margin-bottom: 20px;">
                            <a href="{{ path('exercise_sousshow', {'id': exercise.id}) }}">
                                <img src="{{ asset('SousPoids/' ~ exercise.image) }}" alt="{{ exercise.title }}" style="width: 200px; height: 200px; object-fit: cover;">
                            </a>
                            <p>{{ exercise.title }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}

</body>
</html>